*.iml
.gradle
/local.properties
/.idea/**
/.fleet/**

*.apk

# IDEA/Android Studio Ignore exceptions
!/.idea/codeStyles
# Project icon
!/.idea/icon.svg


.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
.kotlin

# IOS
xcuserdata
captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# KMP
.fleet